In [78]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as sts
from scipy.stats import linregress

In [79]:
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [80]:
# File to Load (Remember to Change These)
municipio_pov_dataload = "Resources/municipalpoverty.csv"
municipio_df = pd.read_csv(municipio_pov_dataload)
povertyindicators_dataload = "Resources/Concentrado, indicadores de pobreza.csv"
povertyindicators_df = pd.read_csv(povertyindicators_dataload)

In [81]:
municipaldata = pd.DataFrame(municipio_df)
new = municipaldata[['clave_entidad', 'entidad_federativa', 'clave_municipio', 'municipio', 'poblacion', 'pobreza', 'pobreza_pob']].copy()
new.head()

,clave_entidad,entidad_federativa,clave_municipio,municipio,poblacion,pobreza,pobreza_pob
0,1,Aguascalientes,1001,Aguascalientes,"861,446",26.1,"224,949"
1,1,Aguascalientes,1002,Asientos,"46,624",54,"25,169"
2,1,Aguascalientes,1003,Calvillo,"52,773",56.8,"29,951"
3,1,Aguascalientes,1004,Cosío,"15,321",43.2,"6,620"
4,1,Aguascalientes,1005,Jesús María,"125,750",25,"31,479"

In [82]:
mexico_state_df = new[new['entidad_federativa'].str.contains("México")]
poverty_by_municipality_df = mexico_state_df.rename(columns={"clave_entidad": "State ID",
                                    "entidad_federativa": "State", 
                                    "clave_municipio": "Municipality ID",
                                    "municipio": "Municipality",
                                    "poblacion": "Population",
                                    "pobreza": "% Poverty", 
                                    "pobreza_pob": "Total Population in Poverty"})

poverty_by_municipality_df

,State ID,State,Municipality ID,Municipality,Population,% Poverty,Total Population in Poverty
656,15,México,15001,Acambay,"62,863",73.5,"46,233"
657,15,México,15002,Acolman,"171,774",56.2,"96,512"
658,15,México,15003,Aculco,"46,275",61.9,"28,628"
659,15,México,15004,Almoloya de Alquisiras,"14,115",73.4,"10,354"
660,15,México,15005,Almoloya de Juárez,"179,746",59.9,"107,654"
...,...,...,...,...,...,...,...
776,15,México,15121,Cuautitlán Izcalli,"509,985",27.7,"141,173"
777,15,México,15122,Valle de Chalco Solidaridad,"452,170",59,"266,702"
778,15,México,15123,Luvianos,"24,639",84.9,"20,914"
779,15,México,15124,San José del Rincón,"84,040",76.3,"64,133"
780,15,México,15125,Tonanitla,"10,190",49.6,"5,055"

In [83]:
povertyindicators_df

,Clave de entidad,Entidad federativa,Clave de municipio,Municipio,Población 2015*\n(leer nota al final del cuadro),Porcentaje de Pobreza\n2015,Personas Pobres\n2015,Carencias promedio de Pobreza\n2015,Porcentaje Pobreza Extrema\n2015,Personas Pobreza Extrema\n2015,...,Carencias promedio Población con al menos una carencia social\n2015,Porcentaje Población con tres o más carencias sociales\n2015,Personas Población con tres o más carencias sociales\n2015,Carencias promedio\n Población con tres o más carencias sociales 2015,Porcentaje Población con ingreso inferior a la línea de bienestar \n2015,Personas Población con ingreso inferior a la línea de bienestar\n2015,Carencias promedio Población con ingreso inferior a la línea de bienestar\n2015,Porcentaje Población con ingreso inferior a la línea de bienestar mínimo\n2015,Personas Población con ingreso inferior a la línea de bienestar mínimo\n2015,Carencias promedio Población con ingreso inferior a la línea de bienestar mínimo\n2015
0,15,México,15001,Acambay,"62,863",73.5,"46,233",2.4,19.8,"12,475",...,2.3,39.2,"24,627",3.4,75.0,"47,164",2.4,37.1,"23,336",2.6
1,15,México,15002,Acolman,"171,774",56.2,"96,512",2.0,8.6,"14,715",...,1.9,19.2,"32,987",3.3,67.9,"116,692",1.7,24.3,"41,814",2.0
2,15,México,15003,Aculco,"46,275",61.9,"28,628",2.2,10.7,"4,930",...,2.1,29.0,"13,408",3.4,63.6,"29,419",2.2,23.8,"10,993",2.4
3,15,México,15004,Almoloya de Alquisiras,"14,115",73.4,"10,354",2.3,18.7,"2,638",...,2.2,34.4,"4,858",3.4,75.2,"10,616",2.2,37.5,"5,290",2.5
4,15,México,15005,Almoloya de Juárez,"179,746",59.9,"107,654",2.3,12.6,"22,666",...,2.2,28.9,"51,862",3.4,66.2,"118,999",2.1,25.3,"45,397",2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,15,México,15121,Cuautitlán Izcalli,"509,985",27.7,"141,173",1.9,2.8,"14,401",...,1.8,8.4,"43,048",3.3,43.0,"219,101",1.2,11.6,"59,110",1.6
121,15,México,15122,Valle de Chalco Solidaridad,"452,170",59.0,"266,702",2.1,9.5,"42,778",...,2.0,21.0,"94,843",3.3,71.2,"321,840",1.7,27.8,"125,851",2.0
122,15,México,15123,Luvianos,"24,639",84.9,"20,914",2.5,32.1,"7,911",...,2.4,44.7,"11,012",3.4,85.8,"21,145",2.5,54.4,"13,402",2.7
123,15,México,15124,San José del Rincón,"84,040",76.3,"64,133",2.6,22.8,"19,120",...,2.6,48.7,"40,958",3.4,76.4,"64,231",2.6,39.4,"33,153",2.7
124,15,México,15125,Tonanitla,"10,190",49.6,"5,055",1.9,5.1,519,...,1.8,14.7,"1,503",3.3,55.6,"5,669",1.7,19.1,"1,946",2.0

In [84]:
povertyindicator = pd.DataFrame(povertyindicators_df)
new1 = povertyindicator[['Clave de municipio',
                         'Personas Rezago educativo\n2015', 
                         'Personas Carencia por acceso a los servicios de salud\n2015', 
                         'Personas Carencia por acceso a la seguridad social\n2015']].copy()

new2 = new1.rename(columns={"Clave de municipio": "Municipality ID",
                            "Personas Rezago educativo\n2015" : "People with education lag",
                            "Personas Carencia por acceso a los servicios de salud\n2015": "People without access to healthcare",
                            "Personas Carencia por acceso a la seguridad social\n2015": "People without social security"})
new2.head()

,Municipality ID,People with education lag,People without access to healthcare,People without social security
0,15001,"15,721","8,177","55,302"
1,15002,"19,176","34,621","107,655"
2,15003,"11,349","4,088","39,700"
3,15004,"3,811",986,"12,235"
4,15005,"39,433","22,250","132,743"

In [85]:
new2.dtypes

Municipality ID                         int64
People with education lag              object
People without access to healthcare    object
People without social security         object
dtype: object

In [86]:
mergepoverty = pd.merge(poverty_by_municipality_df, new2, on="Municipality ID", how="right")

mergepoverty['Total Population in Poverty'] = mergepoverty['Total Population in Poverty'].str.replace(',', '')
mergepoverty['People with education lag'] = mergepoverty['People with education lag'].str.replace(',', '')
mergepoverty['People without access to healthcare'] = mergepoverty['People without access to healthcare'].str.replace(',', '')
mergepoverty['People without social security'] = mergepoverty['People without social security'].str.replace(',', '')

mergepoverty

,State ID,State,Municipality ID,Municipality,Population,% Poverty,Total Population in Poverty,People with education lag,People without access to healthcare,People without social security
0,15,México,15001,Acambay,"62,863",73.5,46233,15721,8177,55302
1,15,México,15002,Acolman,"171,774",56.2,96512,19176,34621,107655
2,15,México,15003,Aculco,"46,275",61.9,28628,11349,4088,39700
3,15,México,15004,Almoloya de Alquisiras,"14,115",73.4,10354,3811,986,12235
4,15,México,15005,Almoloya de Juárez,"179,746",59.9,107654,39433,22250,132743
...,...,...,...,...,...,...,...,...,...,...
120,15,México,15121,Cuautitlán Izcalli,"509,985",27.7,141173,34153,111653,189795
121,15,México,15122,Valle de Chalco Solidaridad,"452,170",59,266702,71570,146256,299228
122,15,México,15123,Luvianos,"24,639",84.9,20914,8604,1204,21968
123,15,México,15124,San José del Rincón,"84,040",76.3,64133,32693,6730,79770
124,15,México,15125,Tonanitla,"10,190",49.6,5055,1360,2669,6951

In [87]:
mergepoverty['Total Population in Poverty'] = mergepoverty['Total Population in Poverty'].astype(float)
mergepoverty['People with education lag'] = mergepoverty['People with education lag'].astype(float)
mergepoverty['People without access to healthcare'] = mergepoverty['People without access to healthcare'].astype(float)
mergepoverty['People without social security'] = mergepoverty['People without social security'].astype(float)
mergepoverty['Municipality ID'] = mergepoverty['Municipality ID'].astype(str).str.slice(2).astype(int)
mergepoverty

,State ID,State,Municipality ID,Municipality,Population,% Poverty,Total Population in Poverty,People with education lag,People without access to healthcare,People without social security
0,15,México,1,Acambay,"62,863",73.5,46233.0,15721.0,8177.0,55302.0
1,15,México,2,Acolman,"171,774",56.2,96512.0,19176.0,34621.0,107655.0
2,15,México,3,Aculco,"46,275",61.9,28628.0,11349.0,4088.0,39700.0
3,15,México,4,Almoloya de Alquisiras,"14,115",73.4,10354.0,3811.0,986.0,12235.0
4,15,México,5,Almoloya de Juárez,"179,746",59.9,107654.0,39433.0,22250.0,132743.0
...,...,...,...,...,...,...,...,...,...,...
120,15,México,121,Cuautitlán Izcalli,"509,985",27.7,141173.0,34153.0,111653.0,189795.0
121,15,México,122,Valle de Chalco Solidaridad,"452,170",59,266702.0,71570.0,146256.0,299228.0
122,15,México,123,Luvianos,"24,639",84.9,20914.0,8604.0,1204.0,21968.0
123,15,México,124,San José del Rincón,"84,040",76.3,64133.0,32693.0,6730.0,79770.0
124,15,México,125,Tonanitla,"10,190",49.6,5055.0,1360.0,2669.0,6951.0

In [88]:
mergepoverty.dtypes

State ID                                 int64
State                                   object
Municipality ID                          int32
Municipality                            object
Population                              object
% Poverty                               object
Total Population in Poverty            float64
People with education lag              float64
People without access to healthcare    float64
People without social security         float64
dtype: object

In [89]:
mergepoverty_byid = mergepoverty.set_index('Municipality ID') 
mergepoverty_byid

,State ID,State,Municipality,Population,% Poverty,Total Population in Poverty,People with education lag,People without access to healthcare,People without social security
Municipality ID,,,,,,,,,
1,15,México,Acambay,"62,863",73.5,46233.0,15721.0,8177.0,55302.0
2,15,México,Acolman,"171,774",56.2,96512.0,19176.0,34621.0,107655.0
3,15,México,Aculco,"46,275",61.9,28628.0,11349.0,4088.0,39700.0
4,15,México,Almoloya de Alquisiras,"14,115",73.4,10354.0,3811.0,986.0,12235.0
5,15,México,Almoloya de Juárez,"179,746",59.9,107654.0,39433.0,22250.0,132743.0
...,...,...,...,...,...,...,...,...,...
121,15,México,Cuautitlán Izcalli,"509,985",27.7,141173.0,34153.0,111653.0,189795.0
122,15,México,Valle de Chalco Solidaridad,"452,170",59,266702.0,71570.0,146256.0,299228.0
123,15,México,Luvianos,"24,639",84.9,20914.0,8604.0,1204.0,21968.0
124,15,México,San José del Rincón,"84,040",76.3,64133.0,32693.0,6730.0,79770.0
125,15,México,Tonanitla,"10,190",49.6,5055.0,1360.0,2669.0,6951.0

In [90]:
denue_df  = pd.read_csv('Resources/DENUE_Filtered_complete.csv')
denue_df.head()

,Unnamed: 0,Código de la clase de actividad SCIAN,Código Tipo de Industria,Nombre de clase de la actividad,Nombre de la Unidad Económica,Descripcion estrato personal ocupado,Tipo de asentamiento humano,Nombre de asentamiento humano,Código Postal,Clave entidad,Entidad federativa,Clave municipio,Municipio,Clave localidad,Localidad,Área geoestadística básica,Tipo de establecimiento,Latitud,Longitud,Fecha de incorporación al DENUE
0,127785,463213,46,Comercio al por menor de lencerÃ­a,DEBAK ACCESORIOS,0 a 5 personas,COLONIA,EL PANTEÃN,52000.0,15,MÃXICO,51,LERMA,1,LERMA DE VILLADA,275,Fijo,19.289125,-99.506767,dic-14
1,487860,722517,72,Restaurantes con servicio de preparaciÃ³n de p...,POLLO PINTO,0 a 5 personas,COLONIA,COLINAS SAN MATEO,53218,15,MÃXICO,57,NAUCALPAN DE JUÃREZ,1,NAUCALPAN DE JUÃREZ,616,Fijo,19.494647,-99.275553,jul-10
2,271255,461122,46,Comercio al por menor de carne de aves,POLLERÃA PACHIS,0 a 5 personas,COLONIA,BENITO JUÃREZ 1A SECCIÃN,54405,15,MÃXICO,60,NICOLÃS ROMERO,1,CIUDAD NICOLÃS ROMERO,537,Fijo,19.625825,-99.315621,jul-10
3,359632,467114,46,Comercio al por menor de vidrios y espejos,VIDRIERÃA,0 a 5 personas,COLONIA,SAN MIGUEL TECAMACHALCO,53970,15,MÃXICO,57,NAUCALPAN DE JUÃREZ,1,NAUCALPAN DE JUÃREZ,512,Fijo,19.424169,-99.229945,jul-10
4,229661,463211,46,"Comercio al por menor de ropa, excepto de bebÃ...",NOVEDADES LUPITA,0 a 5 personas,COLONIA,CABECERA MUNICIPAL,56330,15,MÃXICO,31,CHIMALHUACÃN,1,CHIMALHUACÃN,37,Fijo,19.417730,-98.944452,jul-10

In [106]:
denue_df = denue_df [['Clave municipio',
                      'Código Tipo de Industria']]
denue_en = denue_df.rename(columns={"Clave municipio": "Municipality ID",
                            "Código Tipo de Industria": "Industry Code"})
denue_en = denue_en.set_index('Industry Code')
denue_en

               Municipality ID
Industry Code
46                          51
72                          57
46                          60
46                          57
46                          31
...                        ...
53                          58
81                          58
32                          13
46                          33
72                          87

[72670 rows x 1 columns]

In [107]:
denue_en.T

Industry Code,46,72,46,46,46,31,46,46,33,46,...,72,46,46,46,46,53,81,32,46,72
Municipality ID,51,57,60,57,31,19,106,13,14,92,...,54,33,51,81,108,58,58,13,33,87

In [92]:
denue_en.dtypes

Municipality ID    int64
Industry Code      int64
dtype: object

In [93]:
#def industry_code(row):
#   if row['Industry Code'] == 43 or 46 or 48 or 49 or 51 or 52 or 53 or 54 or 55 or 61 or 62 or 71 or 93 :
#      return 'Third'
#   return 'Other'
#denue_en = denue_en.apply (lambda row: industry_code(row))
# denue_en.head()

In [94]:
poverty_final = pd.merge(mergepoverty_byid, denue_en, on="Municipality ID", how="right")
poverty_final = poverty_final.set_index('Industry Code') 
poverty_final

,Municipality ID,State ID,State,Municipality,Population,% Poverty,Total Population in Poverty,People with education lag,People without access to healthcare,People without social security
Industry Code,,,,,,,,,,
31,1,15,México,Acambay,"62,863",73.5,46233.0,15721.0,8177.0,55302.0
62,1,15,México,Acambay,"62,863",73.5,46233.0,15721.0,8177.0,55302.0
46,1,15,México,Acambay,"62,863",73.5,46233.0,15721.0,8177.0,55302.0
46,1,15,México,Acambay,"62,863",73.5,46233.0,15721.0,8177.0,55302.0
31,1,15,México,Acambay,"62,863",73.5,46233.0,15721.0,8177.0,55302.0
...,...,...,...,...,...,...,...,...,...,...
46,125,15,México,Tonanitla,"10,190",49.6,5055.0,1360.0,2669.0,6951.0
81,125,15,México,Tonanitla,"10,190",49.6,5055.0,1360.0,2669.0,6951.0
46,125,15,México,Tonanitla,"10,190",49.6,5055.0,1360.0,2669.0,6951.0
72,125,15,México,Tonanitla,"10,190",49.6,5055.0,1360.0,2669.0,6951.0
46,125,15,México,Tonanitla,"10,190",49.6,5055.0,1360.0,2669.0,6951.0

In [95]:
poverty_final.dtypes

Municipality ID                          int64
State ID                                 int64
State                                   object
Municipality                            object
Population                              object
% Poverty                               object
Total Population in Poverty            float64
People with education lag              float64
People without access to healthcare    float64
People without social security         float64
dtype: object

In [124]:
new7 = denue_en.pivot_table(index='Municipality ID', columns= 'Industry Code', aggfunc = 'size')
new7 = new7.fillna(0)
new7

Industry Code,11,21,22,23,31,32,33,43,46,48,...,53,54,55,56,61,62,71,72,81,93
Municipality ID,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,22.0,4.0,14.0,3.0,67.0,0.0,...,3.0,1.0,0.0,6.0,5.0,4.0,2.0,15.0,13.0,9.0
2,0.0,0.0,1.0,0.0,62.0,7.0,16.0,20.0,381.0,1.0,...,4.0,8.0,0.0,20.0,22.0,19.0,9.0,69.0,119.0,11.0
3,0.0,0.0,0.0,0.0,4.0,2.0,0.0,2.0,38.0,0.0,...,1.0,0.0,0.0,3.0,2.0,3.0,0.0,11.0,10.0,11.0
4,0.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,29.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,4.0,0.0
5,0.0,0.0,1.0,0.0,26.0,8.0,6.0,7.0,163.0,0.0,...,3.0,8.0,0.0,14.0,9.0,8.0,6.0,23.0,40.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,0.0,0.0,0.0,6.0,100.0,33.0,53.0,67.0,949.0,8.0,...,23.0,43.0,0.0,45.0,69.0,89.0,17.0,252.0,344.0,16.0
122,0.0,0.0,0.0,1.0,96.0,17.0,47.0,43.0,1065.0,2.0,...,22.0,22.0,0.0,38.0,53.0,58.0,30.0,187.0,283.0,7.0
123,0.0,0.0,0.0,0.0,8.0,2.0,4.0,3.0,47.0,0.0,...,0.0,0.0,0.0,0.0,1.0,4.0,2.0,8.0,13.0,4.0
124,0.0,0.0,0.0,0.0,4.0,0.0,1.0,0.0,47.0,0.0,...,1.0,2.0,0.0,2.0,2.0,3.0,0.0,8.0,6.0,3.0
125,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,19.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0,4.0

In [ ]:
#PROBLEM: WE NEED TO CREATE A DATAFRAME SUMMING DIFFERENT COLUMNS BUT A KeyError appears: "None of [Index(['11', '21'], dtype='object', name='Industry Code')] are in the [columns]"

In [131]:
new8 = new7[['11', '21']].copy()
new8.head()

KeyError: "None of [Index(['11', '21'], dtype='object', name='Industry Code')] are in the [columns]"

In [ ]:
#Now we are going to do plots and linear regressions testing the indicators of poverty,
#the last three columns, with the total population poverty per municipality.
population = mergepoverty.iloc[:,6]
education_lag = mergepoverty.iloc[:,7]
(mr_slope, mr_intercept, mr_rvalue, mr_pvalue, mr_stderr) = linregress(population, education_lag)
mr_regress_values = population * mr_slope + mr_intercept
line_eq = "y = " + str(round(mr_slope,2)) + "x + " + str(round(mr_intercept,2))
education_plot = plt.scatter(mergepoverty['Total Population in Poverty'],mergepoverty['People with education lag'])
plt.plot (population, mr_regress_values, "r-")
plt.annotate(line_eq,(400000,50000),fontsize=15,color="red")
plt.xlabel("Total Population in Poverty")
plt.ylabel("People with education lag")
plt.title ("Total Poverty vs Total Education Lag")
plt.xticks(np.arange(0, 800000, step = 250000))
plt.yticks(np.arange(0, 200000, step = 25000))


plt.show(education_plot)
plt.savefig('education_plot.png')

In [ ]:
healthcare = mergepoverty.iloc[:,8]
(hl_slope, hl_intercept, hl_rvalue, hl_pvalue, hl_stderr) = linregress(population, healthcare)
hl_regress_values = population * hl_slope + hl_intercept
line_eq_hl = "y = " + str(round(hl_slope,2)) + "x + " + str(round(hl_intercept,2))
healthcare_plot = plt.scatter(mergepoverty['Total Population in Poverty'],mergepoverty['People without access to healthcare'])
plt.plot (population, hl_regress_values, "r-")
plt.annotate(line_eq,(400000,50000),fontsize=15,color="red")
plt.xlabel("Total Population in Poverty")
plt.ylabel("People without access to healthcare")
plt.title ("Total Poverty vs People without access to healthcare")
plt.xticks(np.arange(0, 800000, step = 250000))
plt.yticks(np.arange(0, 500000, step = 50000))
plt.show(healthcare_plot)

plt.savefig('healthcar_plot.png')

In [ ]:
social_security = mergepoverty.iloc[:,9]
(ss_slope, ss_intercept, ss_rvalue, ss_pvalue, ss_stderr) = linregress(population, social_security)
ss_regress_values = population * ss_slope + ss_intercept
line_eq_ss = "y = " + str(round(ss_slope,2)) + "x + " + str(round(ss_intercept,2))
socialsecurity_plot = plt.scatter(mergepoverty['Total Population in Poverty'],mergepoverty['People without social security'])
plt.plot (population, ss_regress_values, "r-")
plt.annotate(line_eq,(400000,50000),fontsize=15,color="red")
plt.xlabel("Total Population in Poverty")
plt.ylabel("People without social security")
plt.title ("Total Poverty vs People without social security")
plt.xticks(np.arange(0, 800000, step = 250000))
plt.yticks(np.arange(0, 1250000, step = 250000))
plt.show(socialsecurity_plot)

plt.savefig('socialsecurity_plot.png')